html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #a9a9a9;
}

body {
    width: 90%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

header, main, footer {
    background-color: white;
    margin: 1vh 0;
    padding: 1%;
    border: 1vh solid white;
    background-clip: padding-box;
    border-radius: 1vh;
}

main {
    display: flex;
    flex: auto;
}

section {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#yourSideCover, #opponentSideCover {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(199, 199, 199, 0.5);
    border-radius: 2vh;
    visibility: hidden;
}

#opponentSide {

}

#controlPanel {
    flex: 0.25;
    background: antiquewhite;
}

#yourBattleFieldBackground, #opponentBattleFieldBackground {
    margin: 0;
    position: absolute;
    z-index: 0;
}

#yourBattleFieldFogOfWar, #opponentBattleFieldFogOfWar {
    margin: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s;
}

#yourBattleFieldFogOfWar:hover {
    border: 1px solid black;
}

#opponentBattleFieldFogOfWar:hover {
    border: 1px solid black;
}